body{
    background:rgb(238, 238, 238) !important;
}

#loginform{
    background:rgb(255, 255, 255) !important;
}

table:nth-child(1){
    display: none !important;
}

table{
    border: none;
}

.navbar{
    background: rgb(0, 35, 100) !important;
}

.navbar-brand{
    text-decoration: none !important;
    align-items: center;
    display: flex;
    justify-content: center;
}

.navbar-brand #navlogo{
    filter: drop-shadow(0px 0px 5px #ffffff);
}

.sitstableoutline{
    background: none !important;
    border: none !important;
}

#loginform{
    padding: 10px !important;
    border: 2px solid rgb(0, 35, 100) !important;
    border-radius: 10px !important;
    color: black;
    width: 60% !important;
    align-self: center !important;
    margin: auto !important;
}

#loginform h2{
    color: rgb(0, 35, 100) !important;
}

#loginform .form-control{
    border: rgb(25, 53, 105) 1px solid !important;
}

#loginform .formsub80.btn-primary{
    background: rgb(0, 35, 100) !important;
    color: rgb(255, 208, 0) !important;
    border: none !important;
    padding: 10px 20px 10px 20px !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

#loginform .formsub80.btn-primary:active{
    background: rgb(13, 79, 202) !important;
    color: rgb(255, 208, 0) !important;
}

/*error popups*/
#sitsmessagebox{
    padding: 10px !important;
    border-radius: 10px !important;
}
.sitsmessagecode{
    display: none !important;
}

@media only screen and (max-width: 500px) {
    #loginform{
        width: 100% !important;
    }
}